/* Desktop */
html {
    font-size: 18px;
}

/* Tablet */
@media (max-width: 1024px) {
    html {
        font-size: 16px;
    }
    .katex-display {
        font-size: 0.9em;
    }
}

/* Phone */
@media (max-width: 768px) {
    html {
        font-size: 14px;
    }
    .katex-display {
        font-size: 0.85em;
    }
}

